@{
    ViewData["Title"] = "Cauta retete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IMRL.WhatsInMyFridge.Web.Areas.SearchRecipe.Models.SearchRecipeViewModel
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-controller="SearchRecipe" asp-action="SearchRecipe" asp-area="SearchRecipe" method="get">
                <div class="form-row">
                    <div class="form-group col-2">
                        <label>Scrie un ingredient: </label>
                    </div>
                    <div class="col-4">
                        <input type="search" class="input-search-box" name="SearchTerm" value="@Model.SearchTerm" />
                    </div>
                    <div class="form-group col-2">
                        <label for="RecipeType">Selecteaza tipul Retetei: </label>
                    </div>
                    <div class="form-group col-2" for="RecipeType">
                        <select class="form-control " name="RecipeType" value="Tipul retetei">
                            <option value="normal">Normal</option>
                            <option value="vegan">Vegan</option>
                            <option value="vegetarian">Vegetarian</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Cautare" />
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <table class="table">
            <tbody>
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            <span>@item.Name</span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                @foreach (var ingredient in item.RecipeIngredients) { 
                                <li>
                                   @ingredient.Ingredient @ingredient.Quantity @ingredient.UnitOfMeasurement
                                </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@item.Link">Vezi pasii retetei</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

