
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IMRL.WhatsInMyFridge.Web.Areas.Admin.Models.PendingRecipeViewModel
<h1>Rețete în așteptare</h1>
<div class="container">
    <div class="row">
        <table class="table">
            <tbody>
                @if (Model.Results.Count == 0)
                {
                <tr>
                    <td>
                        <p>Nu este nicio rețetă în așteptare.</p>
                    </td>
                </tr>
                }
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            <h3>@item.Name</h3>
                        </td>

                    </tr>
                    <tr>
                        <td>

                            @if (@item.RecipeType == "Normal")
                            {
                                <span>
                                    Tipul Rețetei: Fără restricții
                                </span>
                            }
                            else
                            {
                                <span>
                                    Tipul Rețetei: @item.RecipeType
                                </span>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <ul>
                                @foreach (var ingredient in item.RecipeIngredients)
                                {
                                    <li>
                                        @ingredient.Ingredient @ingredient.Quantity @ingredient.UnitOfMeasurement
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@item.Link">Link-ul rețetei</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @using (@Html.BeginForm())
                            {
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            <button type="submit" name="SubmitButton" value="Accept" class="btn btn-sm btn-success">Aprobă</button>
                            <button type="submit" name="SubmitButton" value="Decline" class="btn btn-sm btn-danger">Respinge</button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



